# OrangeFactory — variables de entorno
# Copiar a .env y editar los valores

# ---- Backend ----
SECRET_KEY=cambiame_a_algo_aleatorio_largo_genera_con_openssl_rand_hex_32
DATABASE_URL=postgresql+psycopg://orangefactory:orangefactory@postgres:5432/orangefactory
ACCESS_TOKEN_EXPIRE_MINUTES=60
ENVIRONMENT=development

# ---- Frontend ----
VITE_API_URL=http://localhost:8000
VITE_APP_NAME=OrangeFactory

# ---- Postgres ----
POSTGRES_USER=orangefactory
POSTGRES_PASSWORD=orangefactory
POSTGRES_DB=orangefactory

# ---- Produccion (solo se usan en docker-compose.prod.yml) ----
DOMAIN=orangefactory.cl
ACME_EMAIL=proyecto@orangefd.cl
